[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"

[packages]
django = "*"
psycopg2 = "*"
pillow = "*"
pylint-django = "*"
python-dotenv = "*"
gunicorn = "*"
django-heroku = "*"
whitenoise = "*"
django-storages = "*"
boto3 = "*"

[requires]
python_version = "3.8"
